

.row {
	background-color: grey;
}
.troop-tile {
	margin-bottom: 2%;
}

.image-container {
 text-align: center;
}

.troop-image {
	padding: 10%;
	width: 80%;
}

.troop-image-border {
	border: solid black 1px;
	background: white;
}

.troop-level-text {
	text-align: center;
	font-size: 3em;
}

.level-header-text {
	padding-top: 10%;
	text-align: center;
}

.troop-header-text {
	text-align: center;
}

.troop-text-small {
	font-size: .8em;
}

.troop-text-medium {
	font-size: 1em;
}
