/*

Wood Brown: #4C0E04




*/

body {
	background-color: #2185C5 !important;
}

.wide-row {
  min-width: 100% !important; 
}


input[type=range] {
	cursor: pointer;
}

.nav-button {
	background-color: #4C0E04 !important;
	font-family: 'Fredoka One', cursive !important;
	color: #ffe739 !important;
	font-size: 1.2em !important;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d22a05;
} 

.nav-button:hover {
	color: white !important;
}

.nav-title {
	color: #ffe739;
	font-family: 'Fredoka One', cursive;
	color: #ffe739 !important;
	font-size: 1.3em !important;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d22a05;
/*	-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d22a05;*/
}

.top-bar {
	background-color: #4C0E04;
}

.header-image {
	width: 100%;
	border-left: solid #4C0E04 3px;
	border-right: solid #4C0E04 3px;
	border-bottom: solid #4C0E04 3px;
}

.header-text {
	padding-top: 5%;
	font-family: 'Fredoka One', cursive !important;
	text-align: justify;
	color: rgb(47, 47, 47);
}

.page-heading {
	text-align: center;
	color: #ffe739;
	font-family: 'Fredoka One', cursive;
	-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d22a05;
}

.page-heading-box {
	margin-top: 5%;
	border-left: solid #4C0E04 4px;
	border-right: solid #4C0E04 4px;
	border-top: solid #4C0E04 4px;
	background-color: #2E0C09;
	background: linear-gradient(#2E0C09, #4C0E04);
}

.townhall-row {
	margin-top: 2%;
	padding: 1.25%;
	background-color: #2E0C09;
	border: solid #4C0E04 4px;
}

.townhall-text {
	font-size: 1.4em;
	color: white;
}

.townhall-text-box {
	padding-top: 1.2%
}

.townhall-image {
	width: 30%;
}

.townhall-select-box {
	padding-top: 1.5%;
}

.troop-tile {
	background: linear-gradient(#5fbbd1, #2d7798);
	padding: .5%;
	border-left: solid #4C0E04 4px;
	border-right: solid #4C0E04 4px;
	border-top: solid #4C0E04 2px;
	border-bottom: solid #4C0E04 2px;
}

.troop-select-row {
	background-color: #2E0C09;
	border-top: solid #4C0E04 4px;
	border-right: solid #4C0E04 4px;
	border-left: solid #4C0E04 4px;
	padding-top: 1.5%;
}

.troop-select-box {
	padding-top: 1%;
}



.troop-button {
	background-color: green;
	padding: 25%;
	text-align: center;
}

.image-container {
 text-align: center;
}

.troop-image {
	padding: 2%;
	width: 50%;
}

.troop-image-border {
	/*border: solid black 1px;
	background: white;*/
}

.level-header-text {
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

.troop-level-text {
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0;
}

.arrow-icon {
	font-size: 1.6em;
}


.elixir-icon {
	width: 10%;
}

.elixir-text {
	color: #B6159E;
}

.up {
	color: #28b854;
	text-shadow: 0px 1px 0px #2fcc5f,0px 2px 0px #28b854,0px 3px 0px #208f42,0px 4px 0px #008c7d,0px 6px 0px #006a80,0px 0px 0px #006073,0px 8px 7px #005566;
}

.up:hover {
	color: #33fd70;
	cursor: pointer;
}

.upgrade-up {
	color: #0A772B;
}

.down {
	color: #bd180a;
	text-shadow: 0px 1px 0px #bd180a,0px 2px 0px #cd1c0d,0px 3px 0px #e6200f,0px 4px 0px #e42615,0px 6px 0px #006a80,0px 0px 0px #006073,0px 8px 7px #005566;
}

.down:hover {
	color: red;
	cursor: pointer;
}



.troop-header-text {
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

.troop-remove-text {
	font-size: .6em;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #bd180a;
}


.troop-close-icon {
	width: 35%;
	color: #bd180a;
}

.troop-remove-box {
	text-align: center;
	cursor: pointer;
}

.troop-text-small {
	font-size: .5em;
	margin-bottom: 0px;
	margin-top: 0px;
}
.troop-text-small-heading {
	font-size: .9em;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

.troop-text-stat {
	font-size: .9em;
}

.troop-text-box {
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 1.3;
}

.troop-text-medium {
	font-size: .6em;
}

.troop-text-padding {
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 1.3;
}

.troop-text-big {
	font-size: 1.25em;
	margin-bottom: 0px;
	margin-top: 3%;
}

.troop-total-text {
	font-size: 1em;
	text-align: center;
	color: white;
	font-family: 'Fredoka One', cursive;
}

.troop-total-number {
	font-size: 1.4em;
	font-family: 'Fredoka One', cursive;
}

.troop-total-heading {
	font-size: 1.6em;
	font-family: 'Fredoka One', cursive;
	color: #ffe739;
	text-align: center;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d22a05;
}

.troop-total-box {
	border: solid #4C0E04 4px;
	background-color: #2E0C09;
	background: linear-gradient(#4C0E04, #2E0C09);
}

.troop-quantity-text {
	color: white !important;
	font-size: .9em;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	font-family: 'Fredoka One', cursive;
}

.troop-quantity-number {
	color: white !important;
	font-size: 1.3em;
	padding-top: 25%;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	margin-left: 0px;
	font-family: 'Fredoka One', cursive;
}

.troop-quantity-input {
	width: 100%;
}



.defense-heading-row {
	background-color: #2E0C09;
	padding-top: 1.2%;
	border-left: solid #4C0E04 4px;
	border-right: solid #4C0E04 4px;
	border-top: solid #4C0E04 2px;
	border-bottom: solid #4C0E04 2px;
}

.defense-tile {
	background: linear-gradient(#5fbbd1, #2d7798);
	border-left: solid #4C0E04 4px;
	border-right: solid #4C0E04 4px;
	border-top: solid #4C0E04 2px;
	border-bottom: solid #4C0E04 2px;
}

.defense-text-padding {
	padding-top: .8%;
}

.defense-title {
	color: white;
	padding-left: 15%;
	font-size: 1.4em;
	margin-bottom: 0px;
	padding-bottom: 9%;
	color: #ffe739;
	font-family: 'Fredoka One', cursive;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d22a05;
}

.defense-title-small {
	font-size: 1.1em;
}

.defense-sum-heading {
	color: white;
	font-size: 1em;
}

.defense-add {
	color: #28b854;
	margin-left: 62%;
	font-size: 1.6em;
	text-shadow: 0px 1px 0px #2fcc5f,0px 2px 0px #28b854,0px 3px 0px #208f42,0px 4px 0px #145528,0px 5px 0px #555,0px 6px 0px #693f1c,0px 0px 0px #4a2a0f,0px 8px 7px #2e0c09;
}

.defense-add:hover {
	color: #33fd70;
	cursor: pointer;
}

.defense-add-text {
	text-align: right;
	color: white;
	font-size: 1em;
}

.defense-text {
	font-size: .8em;
	margin-bottom: 0px;
	text-align: center;
}

.defense-text-small {
	font-size: .4em;
	margin-bottom: 0px;
	text-align: center;
}

.defense-text-totals {
	text-align: center;
	color: white;
	padding-bottom: 2%;
}

.defense-image-box {
	text-align: center;
}

.defense-image {
	padding-top: 1%;
}

.defense-top-image {
	width: 50%;
}

.add-box {
	
}

.defense-level-row {
	padding-top: 3%;
	text-align: center;
}

.defense-level-text {
	margin-bottom: 0px;
	font-size: 1.3em;
	line-height: normal;
	text-align: center;
}

.defense-remove-icon {
	margin-left: 62%;
	font-size: 1.6em;
	color: #bd180a;
	text-shadow: 0px 1px 0px #0092b3,0px 2px 0px #0087a6,0px 3px 0px #008099,0px 4px 0px #00758c,0px 5px 0px #555,0px 6px 0px #006a80,0px 0px 0px #006073,0px 8px 7px #005566;
}

.defense-remove-icon:hover {
	color: red;
	cursor: pointer;
}

.defense-arrow-padding {
	padding-top: 4%;
}

.defense-upgrade-text {
	font-size: 1.25em;
}

.gold {
	color: gold;
}

.gold-icon {
	width: 7%;
}

.elixir-icon {
	width: 5%;
}

.dark-elixir-icon {
	width: 5%;
}

.resource-middle-heading {

}

.contact-header-text {
	padding-top: 4%;
	font-family: 'Fredoka One', cursive !important;
	text-align: justify;
	color: rgb(46, 46, 46);
}

.contact-input {
	margin-bottom: 8% !important;
}

.contact-textarea {
	height: 30%;
}

.contact-button {
	height: 10%;
	width: 100%;
	background-color: #4C0E04;
	border: solid black 3px;
	border-radius: 10px;
	font-family: 'Fredoka One', cursive !important;
}

.contact-button-box {
	padding-top: 2%;
}

.about-header {
	font-family: 'Fredoka One', cursive !important;
	padding-top: 2%;
	color: white;
}

.about-header-box {
	border-bottom: solid #4C0E04 2px;

}

.about-image-box {
	text-align: center;
}

.about-image {
	padding-top: 4%;
}

.links-text {
	font-family: 'Fredoka One', cursive !important;
	padding-top: 2%;
	color: black;
}

.link-image-box {
	text-align: center;
}

.link-image {
	width: 30%;
	padding-top: 3%;
}

.link-image-big {
	width: 40%;
	padding-top: 4%;
}

.link-link-text {
	color: white !important;
	font-family: 'Fredoka One', cursive !important;
	text-decoration: underline;
	font-size: 1.3em;
}

.link-description-box {
	padding-top: 2%;
}

