<html>
  <head>
    <title>Clash of Clans Calculator</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/foundation-icons.css" />
    <link href="css/alertify.core.css" rel="stylesheet" type="text/css" />
    <link href="css/alertify.default.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/data.js"></script>
    <script src="js/jquery-2.1.0.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="js/alertify.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="clashCalc">
    <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="index.html" class="nav-title">Clash of Clans Calculator</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="left">
        <div class="section-nav">
          <li><a class="nav-button" href="#troop-section">Troops</a></li>
          <li><a class="nav-button" href="#defense-section">Defenses</a></li>
          <li><a class="nav-button" href="#resource-section">Resources</a></li>
        </div>
        </ul>

        <ul class="right">
          <li><a class="nav-button" href="contact.html">Contact</a></li>
          <li><a class="nav-button" href="about.html">About</a></li>
          <li><a class="nav-button" target="_blank" href="http://www.teslamotors.com/">CoC Homepage</a></li>
        </ul>
      </section>
    </nav>
    </div>
    <div class="wide-row">
      <div class="large-12 columns">
        <img src="images/pageitems/coc-header2.jpg" class="header-image">
      </div>
    </div>
    <!-- <div class="row townhall-row">
      <div class="large-4 medium-3 large-offset-2 columns townhall-text-box">
        <h1 class="townhall-text">Select Town Hall Level:</h1>
      </div>
      <div class="large-2 medium-2 columns townhall-select-box">
        <select ng-model="levelSelect" ng-change="changeTownHallLevel()" ng-options="level for level in townHallLevels" class="townhall-select">
          <option value="">-- Level --</option>
        </select>
      </div>
      <div class="large-3 medium-3 columns left">
        <img class="townhall-image" src="{{ townHall.imageUrl }}">
      </div>
    </div> -->
    <a name="troop-section"></a>
    <div ng-controller="TroopCtrl">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="page-heading">My Troops</h1>
      </div>
    </div>
    <div class="row troop-select-row">
      <div class="large-10 large-centered columns">
        <div class="row">
          <form>
            <div class="large-4 columns">
              <select ng-model="type" ng-change="renderTroopLevels()">
                <option value="">-- Choose Troop --</option>
                <option ng-repeat="troopType in troopTypes" value="{{troopType}}">- {{troopType}} -</option>
              </select>
            </div>
            <div class="large-3 columns">
              <select disabled ng-model="level" ng-options="level for level in currentTroopLevels" class="troop-level-select">
                <option value="">-- Troop Level --</option>
              </select>
            </div>
            <div class="large-3 columns troop-quantity-box">
              <h4 class="troop-quantity-text">{{ selectedQuantity }} </h4>
              <input  type="range" value="1" min="0" max="40" step="1" ng-model="selectedQuantity">
            </div>
            <div class="large-2 columns right" ng-click="addTroop()">
              <!-- <button type="submit" class="troop-button">Add Troop</button> -->
              <div class="row">
                <div class="large-6 columns">
                  <p class="defense-add-text">Add</p>
                </div>
                <div class="large-6 columns">
                  <i class="fi-plus defense-add"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div ng-repeat="troop in troops">
      <div class="row troop-tile">
        <div class="large-2 columns troop-image-border">
          <div class="row">
            <div class="large-12 columns image-container">
              <img src="{{troop.imageUrl}}" class="troop-image">
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4 class="troop-header-text"> {{troop.name}} </h4>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns troop-remove-box" ng-click="removeTroop(troop)">
              <h4 class="troop-remove-text">Remove <i class="fi-x troop-close-icon"></i></h4>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row">
            <div class="large-12 columns">
              <h5 class="level-header-text"> Level </h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h2 class="troop-level-text"> {{troop.level}} </h2>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns icon-box">
              <i ng-click="levelUp(troop)" class="fi-arrow-up arrow-icon up right"></i>
            </div>
            <div class="large-6 columns icon-box">
              <i ng-click="levelDown(troop)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row">
            <div class="large-12 columns">
              <h4 class="troop-text-big">DPS:  {{troop.damagePerSecond}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4 class="troop-text-big">HS:  {{troop.housingSpace}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4 class="troop-text-big">EC: <span class="elixir-text">{{troop.elixirCost}} </span></h4>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small-heading">Totals</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-box"><span class="troop-text-small">Health:  </span><span class="troop-text-stat">{{troop.totalHealth}}</span></h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Housing:  {{troop.totalHousingSpace}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">DPS:  {{troop.totalDps}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Training: {{troop.totalTrainingTime}} mins </h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">EC: <span class="elixir-text">{{troop.totalElixirCost}}</span> </h5>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small-heading">Upgrades</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Res. Cost:  <span class="elixir-text">{{troop.researchCost}} </span></h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Damage Upgrade: {{troop.damageUpgrade}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">HP Upgrade: {{troop.hpUpgrade}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Res. Time: {{troop.researchTime}}</h5>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-header-text">Quantity</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-level-text">{{troop.quantity}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <input  type="range" value="0" min="0" max="40" step="1"ng-model="troop.quan" ng-change="changeTroopQuantity(troop)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row troop-tile">
      <div class="large-2 columns">
        <h2 class="troop-total-text">DPS: {{ army.totalDPS }}</h2>
      </div>
      <div class="large-2 columns">
        <h2 class="troop-total-text">HP: {{ army.totalHP }}</h2>
      </div>
      <div class="large-2 columns">
        <h2 class="troop-total-text">HS: {{ army.totalHS }}</h2>
      </div>
      <div class="large-2 columns">
        <h2 class="troop-total-text">EC: {{ army.totalEC }}</h2>
      </div>
      <div class="large-2 columns">
        <h2 class="troop-total-text">DEC: {{ army.totalDarkEC }} </h2>
      </div>
      <div class="large-2 columns">
        <h2 class="troop-total-text">Train: {{ army.totalTrainingTime }}</h2>
      </div>
    </div>
    </div>
    <a name="defense-section"></a>
  <div ng-controller="DefenseCtrl">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="page-heading">My Defenses</h1>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-8 columns">
            <p class="defense-title"> Cannon </p>
          </div>
          <div class="large-4 columns">
            <img class="defense-top-image left" src="images/defenses/cannon/cannontopimage.png">
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="cannonTotalDps"> Total DPS: {{ cannonTotalDps }} </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="cannonTotalHp"> Total HP: {{ cannonTotalHp }} </p>
      </div>
      <div ng-click="addDefense('Cannon')" class="large-2 columns add-box">
        <div class="row">
          <div class="large-6 columns">
            <p class="defense-add-text">Add</p>
          </div>
          <div class="large-6 columns">
            <i class="fi-plus defense-add"></i>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="cannon in cannons">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ cannon.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ cannon.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpDefense(cannon)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownDefense(cannon)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">DPS:</p>
          <p class="defense-level-text">{{ cannon.damagePerSecond }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">HP:</p>
          <p class="defense-level-text">{{ cannon.hp }}</p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"> <span class="defense-text-small">Damage Upgrade:</span> <span class="defense-upgrade-text">{{ cannon.damageUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">HP Upgrade:</span><span class="defense-upgrade-text"> {{ cannon.hpUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"><span class="defense-text-small"> Upgrade Cost: </span><span class="defense-upgrade-text gold"> {{ cannon.upgradeCost}}</span></p>
          <p class="defense-text"> <span class="defense-text-small">Build Time: </span> <span class="defense-upgrade-text">{{ cannon.buildTime }}</span></p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeDefense(cannon)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-8 columns">
            <p class="defense-title"> Archer Tower </p>
          </div>
          <div class="large-4 columns">
            <img class="defense-top-image left" src="images/defenses/archertower/archertowertopimage.png">
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="archerTowerTotalDps"> Total DPS: {{ archerTowerTotalDps }} </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="archerTowerTotalHp"> Total HP: {{ archerTowerTotalHp }} </p>
      </div>
      <div ng-click="addDefense('Archer Tower')" class="large-2 columns add-box">
        <div class="row">
          <div class="large-6 columns">
            <p class="defense-add-text">Add</p>
          </div>
          <div class="large-6 columns">
            <i class="fi-plus defense-add"></i>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="archerTower in archerTowers">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ archerTower.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ archerTower.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpDefense(archerTower)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownDefense(archerTower)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">DPS:</p>
          <p class="defense-level-text">{{ archerTower.damagePerSecond }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">HP:</p>
          <p class="defense-level-text">{{ archerTower.hp }}</p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"> <span class="defense-text-small">Damage Upgrade:</span> <span class="defense-upgrade-text">{{ archerTower.damageUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">HP Upgrade:</span><span class="defense-upgrade-text"> {{ archerTower.hpUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"><span class="defense-text-small"> Upgrade Cost: </span><span class="defense-upgrade-text gold"> {{ archerTower.upgradeCost | number}}</span></p>
          <p class="defense-text"> <span class="defense-text-small">Build Time: </span> <span class="defense-upgrade-text">{{ archerTower.buildTime }}</span></p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeDefense(archerTower)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-8 columns">
            <p class="defense-title"> Mortar </p>
          </div>
          <div class="large-4 columns">
            <img class="defense-top-image left" src="images/defenses/mortar/mortartopimage.png">
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="mortarTotalDps"> Total DPS: {{ mortarTotalDps }} </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="mortarTotalHp"> Total HP: {{ mortarTotalHp }} </p>
      </div>
      <div ng-click="addDefense('Mortar')" class="large-2 columns add-box">
        <div class="row">
          <div class="large-6 columns">
            <p class="defense-add-text">Add</p>
          </div>
          <div class="large-6 columns">
            <i class="fi-plus defense-add"></i>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="mortar in mortars">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ mortar.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ mortar.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpDefense(mortar)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownDefense(mortar)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">DPS:</p>
          <p class="defense-level-text">{{ mortar.damagePerSecond }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">HP:</p>
          <p class="defense-level-text">{{ mortar.hp }}</p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"> <span class="defense-text-small">Damage Upgrade:</span> <span class="defense-upgrade-text">{{ mortar.damageUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">HP Upgrade:</span><span class="defense-upgrade-text"> {{ mortar.hpUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"><span class="defense-text-small"> Upgrade Cost: </span><span class="defense-upgrade-text gold"> {{ mortar.upgradeCost | number}}</span></p>
          <p class="defense-text"> <span class="defense-text-small">Build Time: </span> <span class="defense-upgrade-text">{{ mortar.buildTime }}</span></p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeDefense(mortar)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-8 columns">
            <p class="defense-title"> Air Defense </p>
          </div>
          <div class="large-4 columns">
            <img class="defense-top-image left" src="images/defenses/airdefense/airdefensetopimage.png">
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="airDefenseTotalDps"> Total DPS: {{ airDefenseTotalDps }} </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="airDefenseTotalHp"> Total HP: {{ airDefenseTotalHp }} </p>
      </div>
      <div ng-click="addDefense('Air Defense')" class="large-2 columns add-box">
        <div class="row">
          <div class="large-6 columns">
            <p class="defense-add-text">Add</p>
          </div>
          <div class="large-6 columns">
            <i class="fi-plus defense-add"></i>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="airDefense in airDefenses">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ airDefense.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ airDefense.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpDefense(airDefense)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownDefense(airDefense)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">DPS:</p>
          <p class="defense-level-text">{{ airDefense.damagePerSecond }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">HP:</p>
          <p class="defense-level-text">{{ airDefense.hp }}</p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"> <span class="defense-text-small">Damage Upgrade:</span> <span class="defense-upgrade-text">{{ airDefense.damageUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">HP Upgrade:</span><span class="defense-upgrade-text"> {{ airDefense.hpUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"><span class="defense-text-small"> Upgrade Cost: </span><span class="defense-upgrade-text gold"> {{ airDefense.upgradeCost | number}}</span></p>
          <p class="defense-text"> <span class="defense-text-small">Build Time: </span> <span class="defense-upgrade-text">{{ airDefense.buildTime }}</span></p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeDefense(airDefense)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-8 columns">
            <p class="defense-title"> Wizard Tower </p>
          </div>
          <div class="large-4 columns">
            <img class="defense-top-image left" src="images/defenses/wizardtower/wizardtowertopimage.png">
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="wizardTowerTotalDps"> Total DPS: {{ wizardTowerTotalDps }} </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="wizardTowerTotalHp"> Total HP: {{ wizardTowerTotalHp }} </p>
      </div>
      <div ng-click="addDefense('Wizard Tower')" class="large-2 columns add-box">
        <div class="row">
          <div class="large-6 columns">
            <p class="defense-add-text">Add</p>
          </div>
          <div class="large-6 columns">
            <i class="fi-plus defense-add"></i>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="wizardTower in wizardTowers">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ wizardTower.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ wizardTower.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpDefense(wizardTower)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownDefense(wizardTower)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">DPS:</p>
          <p class="defense-level-text">{{ wizardTower.damagePerSecond }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">HP:</p>
          <p class="defense-level-text">{{ wizardTower.hp }}</p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"> <span class="defense-text-small">Damage Upgrade:</span> <span class="defense-upgrade-text">{{ wizardTower.damageUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">HP Upgrade:</span><span class="defense-upgrade-text"> {{ wizardTower.hpUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"><span class="defense-text-small"> Upgrade Cost: </span><span class="defense-upgrade-text gold"> {{ wizardTower.upgradeCost | number}}</span></p>
          <p class="defense-text"> <span class="defense-text-small">Build Time: </span> <span class="defense-upgrade-text">{{ wizardTower.buildTime }}</span></p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeDefense(wizardTower)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-8 columns">
            <p class="defense-title"> Hidden Tesla </p>
          </div>
          <div class="large-4 columns">
            <img class="defense-top-image left" src="images/defenses/hiddentesla/hiddenteslatopimage.png">
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="hiddenTeslaTotalDps"> Total DPS: {{ hiddenTeslaTotalDps }} </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="hiddenTeslaTotalHp"> Total HP: {{ hiddenTeslaTotalHp }} </p>
      </div>
      <div ng-click="addDefense('Hidden Tesla')" class="large-2 columns add-box">
        <div class="row">
          <div class="large-6 columns">
            <p class="defense-add-text">Add</p>
          </div>
          <div class="large-6 columns">
            <i class="fi-plus defense-add"></i>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="hiddenTesla in hiddenTeslas">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ hiddenTesla.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ hiddenTesla.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpDefense(hiddenTesla)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownDefense(hiddenTesla)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">DPS:</p>
          <p class="defense-level-text">{{ hiddenTesla.damagePerSecond }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">HP:</p>
          <p class="defense-level-text">{{ hiddenTesla.hp }}</p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"> <span class="defense-text-small">Damage Upgrade:</span> <span class="defense-upgrade-text">{{ hiddenTesla.damageUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">HP Upgrade:</span><span class="defense-upgrade-text"> {{ hiddenTesla.hpUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"><span class="defense-text-small"> Upgrade Cost: </span><span class="defense-upgrade-text gold"> {{ hiddenTesla.upgradeCost | number}}</span></p>
          <p class="defense-text"> <span class="defense-text-small">Build Time: </span> <span class="defense-upgrade-text">{{ hiddenTesla.buildTime }}</span></p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeDefense(hiddenTesla)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-8 columns">
            <p class="defense-title"> X-Bow </p>
          </div>
          <div class="large-4 columns">
            <img class="defense-top-image left" src="images/defenses/xbow/xbowtopimage.png">
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="xbowTotalDps"> Total DPS: {{ xbowTotalDps }} </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="xbowTotalHp"> Total HP: {{ xbowTotalHp }} </p>
      </div>
      <div ng-click="addDefense('X-Bow')" class="large-2 columns add-box">
        <div class="row">
          <div class="large-6 columns">
            <p class="defense-add-text">Add</p>
          </div>
          <div class="large-6 columns">
            <i class="fi-plus defense-add"></i>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="xbow in xbows">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ xbow.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ xbow.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpDefense(xbow)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownDefense(xbow)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">DPS:</p>
          <p class="defense-level-text">{{ xbow.damagePerSecond }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">HP:</p>
          <p class="defense-level-text">{{ xbow.hp }}</p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"> <span class="defense-text-small">Damage Upgrade:</span> <span class="defense-upgrade-text">{{ xbow.damageUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">HP Upgrade:</span><span class="defense-upgrade-text"> {{ xbow.hpUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"><span class="defense-text-small"> Upgrade Cost: </span><span class="defense-upgrade-text gold"> {{ xbow.upgradeCost | number}}</span></p>
          <p class="defense-text"> <span class="defense-text-small">Build Time: </span> <span class="defense-upgrade-text">{{ xbow.buildTime }}</span></p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeDefense(xbow)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-8 columns">
            <p class="defense-title"> Inferno Tower </p>
          </div>
          <div class="large-4 columns">
            <img class="defense-top-image left" src="images/defenses/infernotower/infernotowertopimage.png">
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="infernoTowerTotalDps"> Total DPS: {{ infernoTowerTotalDps }} </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="infernoTowerTotalHp"> Total HP: {{ infernoTowerTotalHp }} </p>
      </div>
      <div ng-click="addDefense('Inferno Tower')" class="large-2 columns add-box">
        <div class="row">
          <div class="large-6 columns">
            <p class="defense-add-text">Add</p>
          </div>
          <div class="large-6 columns">
            <i class="fi-plus defense-add"></i>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="infernoTower in infernoTowers">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ infernoTower.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ infernoTower.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpDefense(infernoTower)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownDefense(infernoTower)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">DPS:</p>
          <p class="defense-level-text">{{ infernoTower.damagePerSecond }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">HP:</p>
          <p class="defense-level-text">{{ infernoTower.hp }}</p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"> <span class="defense-text-small">Damage Upgrade:</span> <span class="defense-upgrade-text">{{ infernoTower.damageUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">HP Upgrade:</span><span class="defense-upgrade-text"> {{ infernoTower.hpUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"><span class="defense-text-small"> Upgrade Cost: </span><span class="defense-upgrade-text gold"> {{ infernoTower.upgradeCost | number}}</span></p>
          <p class="defense-text"> <span class="defense-text-small">Build Time: </span> <span class="defense-upgrade-text">{{ infernoTower.buildTime }}</span></p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeDefense(infernoTower)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-6 columns defense-text-totals">
        Total Defense DPS: {{totalDefenseDps}}
      </div>
      <div class="large-6 columns defense-text-totals">
        Total Defense HP: {{totalDefenseHp}}
      </div>
    </div>
  </div>
  <a name="resource-section"></a>
  <div ng-controller="ResourceCtrl">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="page-heading">My Resources</h1>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-8 columns">
            <p class="defense-title"> Gold Mine </p>
          </div>
          <div class="large-4 columns">
            <img class="defense-top-image left" src="images/resources/goldmine/goldminetopimage.png">
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <p class="defense-sum-heading" ng-show="goldMineTotalProductionRate"> Total Production Rate: <span class="gold">{{ goldMineTotalProductionRate }}/Hr </span></p>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="goldMineTotalHp"> Total HP: {{ goldMineTotalHp }} </p>
      </div>
      <div ng-click="addResource('Gold Mine')" class="large-2 columns add-box">
        <div class="row">
          <div class="large-6 columns">
            <p class="defense-add-text">Add</p>
          </div>
          <div class="large-6 columns">
            <i class="fi-plus defense-add"></i>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="goldMine in goldMines">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ goldMine.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ goldMine.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpResource(goldMine)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownResource(goldMine)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-2 columns defense-text-padding">
          <p class="defense-text-small">Production Rate:</p>
          <p class="defense-level-text">{{ goldMine.productionRate }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">Capacity:</p>
          <p class="defense-level-text">{{ goldMine.capacity }}</p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"> <span class="defense-text-small">Prod. Rate Upgr.:</span> <span class="defense-upgrade-text">{{ goldMine.prUpgrade }}</span>/Hr <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">Cap. Upgrade:</span><span class="defense-upgrade-text"> {{ goldMine.capacityUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"><span class="defense-text-small"> Upgrade Cost: </span><span class="defense-upgrade-text elixir-text"> {{ goldMine.upgradeCost | number}}</span></p>
          <p class="defense-text"> <span class="defense-text-small">Build Time: </span> <span class="defense-upgrade-text">{{ goldMine.buildTime }}</span></p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeResource(goldMine)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-8 columns">
            <p class="defense-title"> Elixir Collector </p>
          </div>
          <div class="large-4 columns">
            <img class="defense-top-image left" src="images/resources/elixircollector/elixircollectortopimage.png">
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <p class="defense-sum-heading" ng-show="elixirCollectorTotalProductionRate"> Total Production Rate: <span class="elixir-text">{{ elixirCollectorTotalProductionRate }}/Hr </span></p>
      </div>
      <div class="large-2 columns">
        <p class="defense-sum-heading" ng-show="elixirCollectorTotalHp"> Total HP: {{ elixirCollectorTotalHp }} </p>
      </div>
      <div ng-click="addResource('Elixir Collector')" class="large-2 columns add-box">
        <div class="row">
          <div class="large-6 columns">
            <p class="defense-add-text">Add</p>
          </div>
          <div class="large-6 columns">
            <i class="fi-plus defense-add"></i>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="elixirCollector in elixirCollectors">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ elixirCollector.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ elixirCollector.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpResource(elixirCollector)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownResource(elixirCollector)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-2 columns defense-text-padding">
          <p class="defense-text-small">Production Rate:</p>
          <p class="defense-level-text">{{ elixirCollector.productionRate }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">Capacity:</p>
          <p class="defense-level-text">{{ elixirCollector.capacity }}</p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"> <span class="defense-text-small">Prod. Rate Upgr.:</span> <span class="defense-upgrade-text">{{ elixirCollector.prUpgrade }}</span>/Hr <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">Cap. Upgrade:</span><span class="defense-upgrade-text"> {{ elixirCollector.capacityUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns">
          <p class="defense-text"><span class="defense-text-small"> Upgrade Cost: </span><span class="defense-upgrade-text gold"> {{ elixirCollector.upgradeCost | number}}</span></p>
          <p class="defense-text"> <span class="defense-text-small">Build Time: </span> <span class="defense-upgrade-text">{{ elixirCollector.buildTime }}</span></p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeResource(elixirCollector)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
  </div>
    <script src="js/foundation.min.js"></script>
    <script src="js/foundation.topbar.js"></script>
    <script>$(document).foundation();</script>
  </body>
</html>