<html>
  <head>
    <title>Clash of Clans Calculator</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/foundation-icons.css" />
    <link href="css/alertify.core.css" rel="stylesheet" type="text/css" />
    <link href="css/alertify.default.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/data.js"></script>
    <script src="js/jquery-2.1.0.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="js/alertify.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="clashCalc">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="index.html" class="nav-title">Clash of Clans Calculator</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="left">
        <div class="section-nav">
          <li><a class="nav-text" href="#fuel-section" id="fuel-nav-button" disabled>Fuel</a></li>
          <li><a class="nav-text" href="#performance-section" id="performance-nav-button" disabled>Performance</a></li>
          <li><a class="nav-text" href="#teslaannual" id="tesla-cost-nav-button" disabled>Tesla</a></li>
          <li><a class="nav-text" href="#compannual" id="comp-cost-nav-button" disabled>Comp</a></li>
        </div>
        </ul>

        <ul class="right">
          <li><a class="nav-button" href="contact.html">Contact</a></li>
          <li><a class="nav-button" href="about.html">About</a></li>
          <li><a class="nav-button" target="_blank" href="http://www.teslamotors.com/">Tesla Motors</a></li>
          <li><a class="nav-button" target="_blank" href="http://www.edmunds.com/">Edmunds</a></li>
        </ul>
      </section>
    </nav>
    <div class="row">
      <div class="large-12 columns">
        <img src="images/pageitems/coc-header.jpg" class="header-image">
      </div>
    </div>
    <div class="row townhall-row">
      <div class="large-4 medium-3 large-offset-2 columns townhall-text-box">
        <h1 class="townhall-text">Select Town Hall Level:</h1>
      </div>
      <div class="large-2 medium-2 columns townhall-select-box">
        <select ng-model="levelSelect" ng-change="changeTownHallLevel()" ng-options="level for level in townHallLevels" class="townhall-select">
          <option value="">-- Level --</option>
        </select>
      </div>
      <div class="large-3 medium-3 columns left">
        <img class="townhall-image" src="{{ townHall.imageUrl }}">
      </div>
    </div>
    <div ng-controller="TroopCtrl">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="page-heading">My Troops</h1>
      </div>
    </div>
    <div class="row troop-select-row">
      <div class="large-10 large-centered columns">
        <div class="row">
          <form ng-submit="addTroop()">
            <div class="large-4 columns">
              <select ng-model="type" ng-change="renderTroopLevels()">
                <option value="">-- Choose Troop --</option>
                <option ng-repeat="troopType in troopTypes" value="{{troopType}}">- {{troopType}} -</option>
              </select>
            </div>
            <div class="large-3 columns">
              <select disabled ng-model="level" ng-options="level for level in currentTroopLevels" class="troop-level-select">
                <option value="">-- Troop Level --</option>
              </select>
            </div>
            <div class="large-3 columns troop-quantity-box">
              <h4 class="troop-quantity-text">{{ selectedQuantity }} </h4>
              <input  type="range" value="1" min="0" max="40" step="1" ng-model="selectedQuantity">
            </div>
            <div class="large-2 columns">
              <button type="submit" class="troop-button">Add Troop</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div ng-repeat="troop in troops">
      <div class="row troop-tile">
        <div class="large-2 columns troop-image-border">
          <div class="row">
            <div class="large-12 columns image-container">
              <img src="{{troop.imageUrl}}" class="troop-image">
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4 class="troop-header-text"> {{troop.name}} </h4>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns troop-remove-box" ng-click="removeTroop(troop)">
              <h4 class="troop-remove-text">Remove</h4>
              <i class="fi-x troop-close-icon"></i>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row">
            <div class="large-12 columns">
              <h5 class="level-header-text"> Level </h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h2 class="troop-level-text"> {{troop.level}} </h2>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns icon-box">
              <i ng-click="levelUp(troop)" class="fi-arrow-up arrow-icon up right"></i>
            </div>
            <div class="large-6 columns icon-box">
              <i ng-click="levelDown(troop)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row">
            <div class="large-12 columns">
              <h4 class="troop-text-big">DPS:  {{troop.damagePerSecond}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4 class="troop-text-big">HS:  {{troop.housingSpace}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4 class="troop-text-big">EC: <span class="elixir-text">{{troop.elixirCost}} </span></h4>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small-heading">Totals</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Health:  {{troop.totalHealth}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Housing:  {{troop.totalHousingSpace}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">DPS:  {{troop.totalDps}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Training: {{troop.totalTrainingTime}} mins </h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">EC: <span class="elixir-text">{{troop.totalElixirCost}}</span> </h5>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small-heading">Upgrades</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Res. Cost:  <span class="elixir-text">{{troop.researchCost}} </span></h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Damage Upgrade: {{troop.damageUpgrade}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">HP Upgrade: {{troop.hpUpgrade}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-text-small">Res. Time: {{troop.researchTime}}</h5>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-header-text">Quantity</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h5 class="troop-level-text">{{troop.quantity}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <input  type="range" value="0" min="0" max="40" step="1"ng-model="troop.quan" ng-change="changeTroopQuantity(troop)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row troop-tile">
      <div class="large-2 columns">
        <h2 class="troop-total-text">DPS: {{ army.totalDPS }}</h2>
      </div>
      <div class="large-2 columns">
        <h2 class="troop-total-text">HP: {{ army.totalHP }}</h2>
      </div>
      <div class="large-2 columns">
        <h2 class="troop-total-text">HS: {{ army.totalHS }}</h2>
      </div>
      <div class="large-2 columns">
        <h2 class="troop-total-text">EC: {{ army.totalEC }}</h2>
      </div>
      <div class="large-2 columns">
        <h2 class="troop-total-text">DEC: {{ army.totalDarkEC }} </h2>
      </div>
      <div class="large-2 columns">
        <h2 class="troop-total-text">Train: {{ army.totalTrainingTime }}</h2>
      </div>
    </div>
    </div>
  <div ng-controller="DefenseCtrl">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="page-heading">My Defenses</h1>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-2 columns">
        <p class="defense-title"> Cannon </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-title"> Total DPS: {{ cannonTotalDps }} </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-title"> Total HP: {{ cannonTotalHp }} </p>
      </div>
      <div ng-click="addDefense('Cannon')" class="large-1 columns add-box">
        <i class="fi-plus defense-add"></i>
      </div>
    </div>
    <div ng-repeat="cannon in cannons">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ cannon.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ cannon.level }}</p>
            </div>
            <div class="large-4 columns">
              <i ng-click="levelUpDefense(cannon)" class="fi-arrow-up arrow-icon up right"></i>
            </div>
            <div class="large-4 columns">
              <i ng-click="levelDownDefense(cannon)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text"> DPS: {{ cannon.damagePerSecond }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text"> HP: {{ cannon.hp }}</p>
        </div>
        <div class="large-2 columns defense-text-padding">
          <p class="defense-text"> Damage Upgrade: {{ cannon.damageUpgrade }}</p>
          <p class="defense-text"> HP Upgrade: {{ cannon.hpUpgrade }}</p>
        </div>
        <div class="large-2 columns defense-text-padding">
          <p class="defense-text"> Up. Cost: {{ cannon.upgradeCost }}</p>
          <p class="defense-text"> Build Time: {{ cannon.buildTime }}</p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeDefense(cannon)">
          <i class="fi-x"></i>
        </div>
      </div>
    </div>
    <div class="row defense-heading-row">
      <div class="large-2 columns">
        <p class="defense-title"> Archer Tower </p>
      </div>
      <div class="large-2 large-offset-2 columns">
        <p class="defense-title"> Total DPS: {{ archerTowerTotalDps }} </p>
      </div>
      <div class="large-2 columns">
        <p class="defense-title"> Total HP: {{ archerTowerTotalHp }} </p>
      </div>
      <div ng-click="addDefense('Archer Tower')" class="large-1 columns add-box">
        <i class="fi-plus defense-add"></i>
      </div>
    </div>
    <div ng-repeat="archerTower in archerTowers">
      <div class="row defense-tile">
        <div class="large-1 columns defense-image-box">
          <img class="defense-image" src="{{ archerTower.imageUrl }}">
        </div>
        <div class="large-2 columns">
          <div class="row defense-level-row">
            <div class="large-4 columns">
              <p class="defense-text"> Level: </p>
              <p class="defense-level-text"> {{ archerTower.level }}</p>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelUpDefense(archerTower)" class="fi-arrow-up arrow-icon up"></i>
            </div>
            <div class="large-4 columns defense-arrow-padding">
              <i ng-click="levelDownDefense(archerTower)" class="fi-arrow-down arrow-icon down"></i>
            </div>
          </div>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">DPS:</p>
          <p class="defense-level-text">{{ archerTower.damagePerSecond }}</p>
        </div>
        <div class="large-1 columns defense-text-padding">
          <p class="defense-text-small">HP:</p>
          <p class="defense-level-text">{{ archerTower.hp }}</p>
        </div>
        <div class="large-2 columns defense-text-padding">
          <p class="defense-text"> <span class="defense-text-small">Damage Upgrade:</span> <span class="defense-upgrade-text">{{ archerTower.damageUpgrade }}</span> <i class="fi-arrow-up up"></i></p>
          <p class="defense-text"><span class="defense-text-small">HP Upgrade:</span><span class="defense-upgrade-text"> {{ archerTower.hpUpgrade }}</span><i class="fi-arrow-up up"></i></p>
        </div>
        <div class="large-2 columns defense-text-padding">
          <p class="defense-text"> Up. Cost: {{ archerTower.upgradeCost }}</p>
          <p class="defense-text"> Build Time: {{ archerTower.buildTime }}</p>
        </div>
        <div class="large-2 columns defense-text-padding" ng-click="removeDefense(archerTower)">
          <i class="fi-x defense-remove-icon"></i>
        </div>
      </div>
    </div>
  </div>
    <script src="js/foundation.min.js"></script>
    <script src="js/foundation.topbar.js"></script>
    <script>$(document).foundation();</script>
  </body>
</html>